# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fabric / Spark
derby.log
metastore_db/
spark-warehouse/

# Claude Code
.claudeignore
CLAUDE.md
/.claude
